*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: linear-gradient(to right, #130B09, #590C04, #1F0401);
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.clasea{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

#claseb {
    display: none;
}

#clasea{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover{
    background: #f37d2e;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(fondo2.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px) and (min-width: 600px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }

    .clasea{
        font-size: 16px;
    }

    #clasea{
        font-size: 16px;
    }

    #claseb{
        display: flex;
        font-size: 16px;
        width: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            
    }

    .contenedor {
        height: 100%;
        width: 100%;
    }

    .contenedorsito1{
            width: 20%;
            height: 100%;
            float: right;
    }
    .contenedorsito2{
        width: 20%;
            height: 100%;
            float: left;
    }
    .contenedorsito3{
        width: 60%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
    }

    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to right, #130B09, #590C04, #1F0401);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #clasea {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }

    .clasea {
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #f37d2e;
    }
    #check:checked ~ ul{
        left:0;
    }
}

@media (max-width: 600px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to right, #130B09, #590C04, #1F0401);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #clasea {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }

    .clasea {
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #f37d2e;
    }
    #check:checked ~ ul{
        left:0;
    }
}